
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item hover"><a routerLink="/master"class="nav-link " aria-current="page">Master</a></li>
        <li class="nav-item hover"><a routerLink="/masterlist" class="nav-link active">Master List</a></li>
        <li class="nav-item hover"><a routerLink="/master" class="nav-link ">Unique Codes</a></li>
        <li class="nav-item hover"><a routerLink="/master" class="nav-link">Unique Codes List</a></li>
        <li class="nav-item hover"><a class="nav-link" (click)="LOGOUT()">Logout</a></li>
      </ul>
    </header>
</div>